# Broadway

In [2]:
import pandas as pd
import os

path = os.getcwd() + '//datasets//broadway.csv'
df = pd.read_csv(path)
df.sample(7)

,Date.Day,Date.Full,Date.Month,Date.Year,Show.Name,Show.Theatre,Show.Type,Statistics.Attendance,Statistics.Capacity,Statistics.Gross,Statistics.Gross Potential,Statistics.Performances
11184,15,6/15/2003,6,2003,The Phantom Of The Opera,Majestic,Musical,10657,83,559762,56,8
4112,13,9/13/1998,9,1998,Side Man,Criterion,Play,3646,91,159094,72,8
6418,16,4/16/2000,4,2000,Jesus Christ Superstar,Ford Center (Tcn),Musical,13060,91,503705,63,1
1038,16,6/16/1996,6,1996,The King And I 96,Neil Simon,Musical,10030,95,579055,0,8
21686,6,6/6/2010,6,2010,The Phantom Of The Opera,Majestic,Musical,11136,86,840902,62,8
9040,27,1/27/2002,1,2002,Noises Off '01,Brooks Atkinson,Play,7140,85,411063,79,8
2544,10,8/10/1997,8,1997,Barrymore,Music Box,Play,4497,64,167203,62,7

1. ¿Qué columnas tiene?

In [3]:
df.columns

Index(['Date.Day', 'Date.Full', 'Date.Month', 'Date.Year', 'Show.Name',
       'Show.Theatre', 'Show.Type', 'Statistics.Attendance',
       'Statistics.Capacity', 'Statistics.Gross', 'Statistics.Gross Potential',
       'Statistics.Performances'],
      dtype='object')

*Usar '.' como separador en las columnas está mal, lo voy a cambiar a '_'*

In [4]:
names = [x.replace('.', '_') for x in df.columns]
df.columns = names
df

,Date_Day,Date_Full,Date_Month,Date_Year,Show_Name,Show_Theatre,Show_Type,Statistics_Attendance,Statistics_Capacity,Statistics_Gross,Statistics_Gross Potential,Statistics_Performances
0,26,8/26/1990,8,1990,Tru,Booth,Play,5500,88,134456,0,8
1,24,3/24/1991,3,1991,Miss Saigon,Broadway,Musical,1737,100,100647,0,0
2,31,3/31/1991,3,1991,Miss Saigon,Broadway,Musical,12160,100,634424,0,0
3,7,4/7/1991,4,1991,Miss Saigon,Broadway,Musical,13921,100,713353,0,0
4,14,4/14/1991,4,1991,Miss Saigon,Broadway,Musical,10973,90,573981,0,4
...,...,...,...,...,...,...,...,...,...,...,...,...
31291,14,8/14/2016,8,2016,The Humans,Schoenfeld,Play,7234,87,603770,62,8
31292,14,8/14/2016,8,2016,The Lion King,Minskoff,Musical,13485,99,2233894,97,8
31293,14,8/14/2016,8,2016,The Phantom Of The Opera,Majestic,Musical,10966,85,999632,66,8
31294,14,8/14/2016,8,2016,Waitress,Brooks Atkinson,Musical,8058,96,990128,97,8
31295,14,8/14/2016,8,2016,Wicked,Gershwin,Musical,13804,95,1779664,100,8

2. ¿Qué obras diferentes se presentaron?

In [5]:
unique_shows = df['Show_Name'].unique()
unique_shows

array(['Tru', 'Miss Saigon', 'A Streetcar Named Desire 92',
       'The Sisters Rosensweig', 'Beauty And The Beast',
       'A Little More Magic', 'Broken Glass', 'Show Boat',
       'Sunset Boulevard', 'The Shadow Box', 'Uncle Vanya',
       "Smokey Joe'S Cafe", 'Having Our Say', 'Hamlet 95',
       'The Rose Tattoo', 'A Month In The Country', 'Arcadia', 'Cats',
       'Chronicle Of A Death Foretold',
       'How To Succeed In Business Without Really Trying',
       'Indiscretions', 'Jackie Mason:  Politically Incorrect',
       'Kiss Of The Spider Woman', 'Les Miserables',
       'Love! Valour! Compassion!', 'Tommy', 'Buttons On Broadway',
       "The Play'S The Thing", 'Company 95', 'Moon Over Buffalo',
       'Garden District', 'Patti Lupone On Broadway', 'Victor/Victoria',
       'Hello, Dolly!', 'The Tempest', 'Master Class', 'Sacrilege',
       'Danny Gans On Broadway', 'Holiday', 'School For Scandal',
       'Defending The Caveman', 'Grease', 'Bus Stop',
       'A Funny Thing Happened On The Way To The Forum',
       "A Midsummer Night'S Dream", 'Love Thy Neighbor',
       'A Delicate Balance', 'Big', 'Bring In Da Noise, Bring In Da Funk',
       'Buried Child', 'An Ideal Husband', 'Rent', 'Seven Guitars',
       'State Fair', 'Tartuffe 96', 'The King And I 96',
       'The Phantom Of The Opera', 'A Thousand Clowns', 'Hughie',
       'Summer And Smoke', 'Sex And Longing', 'Skylight', 'Taking Sides',
       'Chicago', 'Present Laughter', "It'S A Slippery Slope",
       'The Rehearsal', 'God Said "Ha"', 'Juan Darien',
       'Once Upon A Mattress', 'Dreams And Nightmares', 'Three Sisters',
       'Men Are From Mars, Women Are From Venus', 'Stanley',
       'The Last Night Of Ballyhoo', 'Mandy Patinkin', 'Play On!',
       'Annie', 'Barrymore', 'Dream: The Johnny Mercer Musical',
       'The Young Man From Atlanta', 'An American Daughter',
       'Jekyll & Hyde', "A Doll'S House", 'Steel Pier', 'Titanic',
       'The Gin Game', 'The Little Foxes', 'The Life', 'Candide',
       'London Assurance', 'King David', "Forever Tango '97", '1776',
       'Side Show', 'Triumph Of Love', 'Jackie: An American Life',
       'The Scarlet Pimpernel', 'The Lion King', 'Ivanov', 'Proposals',
       'Street Corner Symphony', 'The Cherry Orchard',
       'The Old Neighborhood', 'Eugene Onegin', 'The Diary Of Anne Frank',
       'A View From The Bridge', 'The Sunshine Boys', 'The Capeman',
       'Ragtime', 'Patti Labelle On Broadway', 'Freak',
       'The Sound Of Music', 'Art', 'Cabaret 98', 'Ah, Wilderness',
       'The Deep Blue Sea', 'Golden Child', 'The Chairs',
       'The Herbal Bed', 'Wait Until Dark', 'High Society', 'Honour',
       'The Beauty Queen Of Leenane', 'The Judas Kiss', 'Side Man',
       'Twelfth Night', 'An Evening With Jerry Herman', 'Jerry Seinfeld',
       'Colin Quinn - An Irish Wake', 'Swan Lake',
       'More To Love: A Big Fat Comedy', 'Footloose',
       'Getting And Spending', 'Little Me',
       'Mandy Patinkin In Concert: Mamaloshen', "A Mom'S Life",
       'Aznavour', "I'M Still Here...Damn It!", 'On The Town', 'Parade',
       'Electra', "Fool Moon '98", 'Peter Pan 98', 'The Blue Room',
       'Fosse', 'Death Of A Salesman 99',
       "You'Re A Good Man, Charlie Brown", 'Annie Get Your Gun',
       'Night Must Fall', 'Not About Nightingales', 'Band In Berlin',
       'The Lion In Winter', 'Via Dolorosa', 'Closer', 'The Civil War',
       'The Weir', "Amy'S View", 'Marlene', 'Ring Round The Moon',
       "The Gershwins' Fascinating Rhythm", 'The Iceman Cometh 99',
       "It Ain'T Nothin' But The Blues", 'The Lonesome West',
       'Voices In The Dark', 'Kat And The Kings', 'Epic Proportions',
       'Dame Edna: The Royal Tour', 'Saturday Night Fever',
       'The Rainmaker', 'Kiss Me, Kate', 'Marie Christine',
       'Morning, Noon And Night', 'Putting It Together', 'The Price 99',
       'Swing!', "Tango Argentino '99",
       'Jackie Mason: Much Ado About Everything', 'Minnelli On Minnelli',
       'Waiting In The Wings', 'Amadeus', "James Joyce'S The Dead",
       'Wrong Mountain', 'Squonk', 'True West', 'Aida', 'Contact',
       'Riverdance', 'The Wild Party', 'A Moon For The Misbegotten 00',
       'Copenhagen', 'Jesus Christ Superstar', 'Taller Than A Dwarf',
       'The Ride Down Mt. Morgan', 'Rose', 'The Green Bird',
       "The Real Thing '00", 'The Music Man', 'Uncle Vanya 00',
       'Dirty Blonde', 'Macbeth 00', 'The Man Who Came To Dinner',
       "Gore Vidal'S The Best Man", 'The Full Monty', 'The Dinner Party',
       'Matters Of The Heart', 'Proof',
       "The Tale Of The Allergist'S Wife", 'Betrayal',
       'The Rocky Horror Show', 'Seussical', 'Jane Eyre',
       'The Search For Signs Of Intelligent Life In The Universe 00',
       'A Class Act', 'Design For Living 01', 'Judgment At Nuremberg',
       'The Invention Of Love', 'Follies', 'Bells Are Ringing',
       "One Flew Over The Cuckoo'S Nest", 'Stones In His Pockets',
       'The Producers', 'The Adventures Of Tom Sawyer', 'Blast!',
       "42Nd Street '01", 'King Hedley Ii', 'The Gathering',
       'George Gershwin Alone', 'Major Barbara', 'A Thousand Clowns 01',
       "If You Ever Leave Me…I'M Going With You", 'Urinetown',
       'Dance Of Death', 'Hedda Gabler 01', 'Thou Shalt Not',
       'Mamma Mia!', "Sexaholix '01", 'The Women',
       '45 Seconds From Broadway', 'By Jeeves', "Noises Off '01", 'Qed',
       "A Christmas Carol '01", 'Barbara Cook: Mostly Sondheim',
       'An Almost Holy Picture', 'Bea Arthur On Broadway',
       'Elaine Stritch At Liberty', 'The Crucible 02',
       'The Goat, Or Who Is Sylvia?', 'Metamorphoses', 'Oklahoma!',
       "One Mo' Time", 'Sweet Smell Of Success', "Fortune'S Fool",
       'The Smell Of The Kill', 'The Graduate', 'Topdog / Underdog',
       'Thoroughly Modern Millie', "Morning'S At Seven",
       'The Elephant Man', "Into The Woods '02", 'Private Lives 02',
       'The Man Who Had All The Luck', 'The Mystery Of Charles Dickens',
       "I'M Not Rappaport '02", 'Hairspray',
       'Frankie And Johnny In The Claire De Lune',
       'The Boys From Syracuse', 'Amour', 'Say Goodnight, Gracie',
       'Flower Drum Song', "Movin' Out", 'Hollywood Arms', 'Prune Danish',
       'Dance Of The Vampires', 'Def Poetry Jam', 'Dinner At Eight',
       'Man Of La Mancha 02', 'Our Town 02', 'Imaginary Friends',
       'La Bohème', 'Medea 02', 'Tartuffe 03',
       "Ma Rainey'S Black Bottom '03", 'Take Me Out',
       'Vincent In Brixton', 'As Long As We Both Shall Laugh',
       'Urban Cowboy', 'The Play What I Wrote',
       'A Day In The Death Of Joe Egg', 'Life X 3', 'Nine',
       'A Year With Frog And Toad', "Gypsy '03", 'The Look Of Love',
       'Enchanted April', 'Salome', "Long Day'S Journey Into Night 03",
       'Bill Maher: Victory Begins At Home', 'Master Harold…And The Boys',
       "Big River '03", 'Avenue Q', 'Little Shop Of Horrors',
       'The Boy From Oz', "Golda'S Balcony", 'The Retreat From Moscow',
       'Cat On A Hot Tin Roof 03', 'Six Dance Lessons In Six Weeks',
       'Wicked', 'The Violet Hour', "Jackie Mason'S Laughing Room Only",
       'The Caretaker 03', 'Henry Iv', 'Never Gonna Dance',
       'Oldest Living Confederate Widow Tells All', 'Taboo',
       'Anna In The Tropics', 'Bobbi Boland', 'Wonderful Town',
       'I Am My Own Wife', "Sexaholix '03", 'Fiddler On The Roof 04',
       'Drowning Crow', 'King Lear', 'Twentieth Century', 'Match',
       'Sly Fox', "Barbara Cook'S Broadway", 'Sixteen Wounded',
       'A Raisin In The Sun', 'Assassins', 'Bombay Dreams', 'Jumpers',
       'Caroline, Or Change', 'Prymate', 'Frozen', 'Sight Unseen',
       "Marc Salem'S Mind Games", 'After The Fall', 'The Frogs',
       "Forever Tango '04", 'Dracula, The Musical', 'Brooklyn',
       'Reckless', 'Twelve Angry Men', 'Laugh Whore', 'The Good Body',
       "'Night Mother", 'Dame Edna:  Back With A Vengeance', 'Democracy',
       'Whoopi', '700 Sundays', "La Cage Aux Folles '04",
       'Pacific Overtures', 'Gem Of The Ocean', 'The Rivals',
       'Little Women', 'Good Vibrations', 'Brooklyn Boy',
       'Dirty Rotten Scoundrels', 'All Shook Up',
       "Monty Python'S Spamalot", 'The Glass Menagerie 05', 'Doubt',
       'Jackie Mason:  Freshly Squeezed', 'Julius Caesar',
       "Who'S Afraid Of Virginia Woolf?", 'Steel Magnolias',
       'The Light In The Piazza', 'A Streetcar Named Desire 05',
       'Chitty Chitty Bang Bang', 'On Golden Pond', 'The Pillowman',
       "Glengarry Glen Ross '05", 'Sweet Charity 05',
       'The 25Th Annual Putnam County Spelling Bee',
       'After The Night And The Music', 'Love / Life',
       'The Constant Wife', 'Mark Twain Tonight!', 'Lennon', 'Primo',
       'The Blonde In The Thunderbird', 'A Naked Girl On The Appian Way',
       'Latinologues', 'Absurd Person Singular', 'In My Life',
       'Jersey Boys', 'Sweeney Todd 05', 'The Odd Couple 05', 'Seascape',
       'Souvenir', 'The Woman In White', 'The Color Purple',
       'A Touch Of The Poet', "Chita Rivera: The Dancer'S Life",
       'Bridge And Tunnel', 'Rabbit Hole', 'The Pajama Game',
       'Barefoot In The Park', 'Ring Of Fire', 'Well', 'Awake And Sing!',
       'Festen', 'Lestat', 'Tarzan', 'The Threepenny Opera',
       'The Wedding Singer', 'Three Days Of Rain', 'The Drowsy Chaperone',
       'The Caine Mutiny Court-Martial', 'The History Boys',
       'Faith Healer', 'Hot Feet', 'Shining City',
       'The Lieutenant Of Inishmore', 'Martin Short: Fame Becomes Me',
       'Kiki & Herb: Alive On Broadway', 'Heartbreak House',
       'Jay Johnson: The Two And Only', 'Losing Louie',
       "A Chorus Line '06", "The Times They Are A-Changin'", 'Butley',
       'Grey Gardens', 'Mary Poppins', 'The Coast Of Utopia',
       "Dr. Seuss' How The Grinch Stole Christmas!",
       'Les Miserables 2006', 'The Little Dog Laughed', 'Company 06',
       'The Vertical Hour', 'Spring Awakening', 'High Fidelity',
       'The Apple Tree', 'Translations 06', "Journey'S End",
       'Prelude To A Kiss 2007', 'Talk Radio', 'Curtains',
       'The Pirate Queen', 'The Year Of Magical Thinking',
       'Inherit The Wind 07', 'A Moon For The Misbegotten 07',
       'Frost/Nixon', 'Legally Blonde', 'Deuce', 'Lovemusik',
       '110 In The Shade', 'Coram Boy', 'Radio Golf', 'Xanadu',
       'Old Acquaintance', 'Grease 07', 'Mauritius', 'The Ritz',
       'Pygmalion 07', 'A Bronx Tale', 'Cyrano De Bergerac',
       'Young Frankenstein', "Rock 'N' Roll", 'The Farnsworth Invention',
       'August: Osage County', 'Cymbeline',
       "Dr. Seuss' How The Grinch Stole Christmas! 07",
       'The Little Mermaid', 'The Seafarer', 'Is He Dead?',
       'The Homecoming 07', 'November', 'Come Back, Little Sheba',
       'The 39 Steps', "Sunday In The Park With George '08",
       'Passing Strange', 'Cat On A Hot Tin Roof 08', 'In The Heights',
       'South Pacific', "Gypsy '08", 'Cry Baby', 'A Catered Affair',
       'Macbeth 08', 'The Country Girl', 'Les Liaisons Dangereuses 08',
       'Thurgood', 'Boeing-Boeing', 'Top Girls', 'Glory Days',
       'Cirque Dreams: Jungle Fantasy', 'Title Of Show',
       'A Tale Of Two Cities', 'Equus', 'A Man For All Seasons',
       'All My Sons 08', 'The Seagull 08', 'To Be Or Not To Be', '13',
       'Billy Elliot: The Musical', "Speed The Plow '08",
       'Dividing The Estate', 'American Buffalo', 'Shrek The Musical',
       "Irving Berlin'S White Christmas", 'Pal Joey',
       "Liza'S At The Palace", "Slava'S Snowshow", 'The American Plan',
       'Hedda Gabler 09', 'Soul Of Shaolin',
       "You'Re Welcome America. A Final Night With George W. Bush",
       "Guys And Dolls '09", 'The Story Of My Life', '33 Variations',
       "Blithe Spirit '09", 'God Of Carnage', 'Impressionism',
       'West Side Story', 'Exit The King', 'Hair', "Irena'S Vow",
       'Reasons To Be Pretty', "Joe Turner'S Come And Gone '09",
       'Rock Of Ages', 'Next To Normal', 'Mary Stuart',
       'Waiting For Godot', '9 To 5', 'Accent On Youth',
       'The Norman Conquests', 'The Philanthropist',
       'Desire Under The Elms', 'Burn The Floor', 'A Steady Rain',
       'Bye Bye Birdie', "Hamlet '09", 'After Miss Julie',
       'Superior Donuts', 'The Royal Family', 'Memphis',
       'Wishful Drinking', "Brighton Beach Memoirs '09", 'Oleanna',
       "Finian'S Rainbow", 'Fela!',
       'In The Next Room Or The Vibrator Play', "Ragtime '09",
       "Irving Berlin'S White Christmas '09", 'Race',
       'A Little Night Music', "A View From The Bridge '10",
       "Present Laughter '10", 'Time Stands Still', 'The Miracle Worker',
       'Looped', 'Next Fall', 'A Behanding In Spokane', 'All About Me',
       'Come Fly Away', "Lend Me A Tenor '10", 'Million Dollar Quartet',
       'Red', 'The Addams Family', 'Sondheim On Sondheim',
       'American Idiot', 'Promises, Promises', 'Collected Stories',
       'Enron', "La Cage Aux Folles '10", "Fences '10",
       'Everyday Rapture', "Harry Connick, Jr. '10",
       "Mrs. Warren'S Profession", 'Brief Encounter',
       'The Pitmen Painters', 'A Life In The Theatre',
       'Bloody Bloody Andrew Jackson', "La Bete '10", 'Lombardi',
       'Driving Miss Daisy', 'The Scottsboro Boys',
       'Women On The Verge Of A Nervous Breakdown', 'A Free Man Of Color',
       'Colin Quinn: Long Story Short',
       'Rain: A Tribute To The Beatles On Broadway',
       "The Merchant Of Venice '10", 'The Pee-Wee Herman Show', 'Elf',
       'Elling', 'Spider-Man Turn Off The Dark',
       'Donny & Marie: A Broadway Christmas',
       'The Importance Of Being Earnest', 'Good People',
       'That Championship Season', "Arcadia '11", 'Ghetto Klown',
       "How To Succeed In Business Without Really Trying '11",
       'The Book Of Mormon', 'Priscilla Queen Of The Desert',
       "Anything Goes '11", 'Bengal Tiger At The Bagdhad Zoo',
       'Catch Me If You Can', 'Kathy Griffin Wants A Tony',
       'The Motherf**Ker With The Hat', 'War Horse', "Baby It'S You!",
       'High', 'Sister Act', 'Wonderland', "Born Yesterday '11",
       'Jerusalem', 'The People In The Picture',
       "The House Of Blue Leaves '11", 'The Normal Heart',
       "Master Class '11", "Hair '11", "Follies '11", 'Man And Boy',
       'Relatively Speaking', 'The Mountaintop', 'Chinglish', 'Godspell',
       'Other Desert Cities', 'Venus In Fur',
       'Hugh Jackman, Back On Broadway', 'Seminar', 'Bonnie And Clyde',
       "Private Lives '11", 'Lysistrata Jones',
       'On A Clear Day You Can See Forever',
       'An Evening With Patti Lupone And Mandy Patinkin', 'Stick Fly',
       "Porgy And Bess '11", 'The Road To Mecca', 'Wit',
       "Death Of A Salesman '12", "Shatner'S World: We Just Live In It",
       "Jesus Christ Superstar '12", 'Once',
       "Gore Vidal'S The Best Man '12", 'Evita', 'Ghost', 'Newsies',
       'End Of The Rainbow', 'Magic/Bird', 'Clybourne Park',
       "Don'T Dress For Dinner", 'Nice Work If You Can Get It',
       'Peter And The Starcatcher', "A Streetcar Named Desire '12",
       'Leap Of Faith', 'One Man, Two Guvnors', 'The Columnist',
       'The Lyons', 'Harvey', 'Bring It On The Musical', "Fela! '12",
       'Mike Tyson: Undisputed Truth', 'Chaplin',
       'An Enemy Of The People', "Cyrano De Bergerac '12", 'Grace',
       "Who'S Afraid Of Virginia Woolf? '12", "Annie '12",
       "The Heiress '12", 'Running On Empty', 'Scandalous',
       'Frankie Valli And The Four Seasons On Broadway',
       "Glengarry Glen Ross '12", "The Mystery Of Edwin Drood '12",
       'The Performers', 'Dead Accounts', "Elf '12", 'Golden Boy',
       'A Christmas Story', 'The Anarchist', "Picnic '12",
       'The Other Place', "Cat On A Hot Tin Roof '12",
       'Manilow On Broadway', 'Cinderella', 'Ann', 'Hands On A Hardbody',
       'Kinky Boots', 'Lucky Guy', "Breakfast At Tiffany'S", 'Matilda',
       'Vanya And Sonia And Masha And Spike', 'Motown The Musical',
       'Pippin', 'The Assembled Parties', 'The Big Knife', 'The Nance',
       'Orphans', 'The Testament Of Mary', 'The Trip To Bountiful',
       "I'Ll Eat You Last: A Chat With Sue Mengers", "Jekyll & Hyde '13",
       "Macbeth '13", 'The Rascals: Once Upon A Dream', 'First Date',
       "Forever Tango '13", 'Let It Be', 'Soul Doctor',
       'Romeo And Juliet', 'Big Fish', "The Glass Menagerie '13",
       'A Night With Janis Joplin', 'The Winslow Boy', 'A Time To Kill',
       "Betrayal '13", 'The Snow Geese', 'After Midnight',
       'Twelfth Night/Richard Iii',
       "A Gentleman'S Guide To Love And Murder", "Macbeth '13 (Lct)",
       "No Man'S Land/Waiting For Godot", "700 Sundays '13",
       'Il Divo - A Musical Affair', 'Beautiful', 'Machinal',
       'Outside Mullingar', 'Bronx Bombers',
       'The Bridges Of Madison County', 'All The Way', 'Rocky',
       'Mothers And Sons', 'Aladdin', "Les Miserables '14",
       "A Raisin In The Sun '14", 'If/Then', 'Bullets Over Broadway',
       'The Realistic Joneses', 'Act One', "Cabaret '14",
       'Of Mice And Men', 'Hedwig And The Angry Inch',
       "Lady Day At Emerson'S Bar & Grill", 'Violet', 'Casa Valentina',
       'The Velocity Of Autumn', 'The Cripple Of Inishmaan',
       'Holler If Ya Hear Me', 'This Is Our Youth', "It'S Only A Play",
       "You Can'T Take It With You", 'Love Letters 2014',
       'The Country House',
       'The Curious Incident Of The Dog In The Night-Time',
       'On The Town 2014', 'Disgraced', 'The Last Ship',
       'The Real Thing 2014', 'A Delicate Balance 2014', 'Side Show 2014',
       'The River', 'The Elephant Man 2014', 'Honeymoon In Vegas',
       'The Illusionists - Witness The Impossible', 'Constellations',
       'The Temptations And The Four Tops On Broadway',
       'Fish In The Dark', 'On The Twentieth Century', 'The Audience',
       'The Heidi Chronicles 2015', 'An American In Paris',
       'Finding Neverland', 'Hand To God', 'Skylight 2015',
       'The King And I 2015', 'Gigi', 'It Shoulda Been You',
       'Wolf Hall Parts One & Two', 'Doctor Zhivago', 'Fun Home',
       'Something Rotten!', 'The Visit 2015', 'Airline Highway',
       'Living On Love', 'An Act Of God', 'Amazing Grace',
       'Penn & Teller On Broadway', 'Hamilton', 'Spring Awakening 2015',
       'Fool For Love', 'Old Times', 'Dames At Sea', 'The Gin Game 2015',
       'Sylvia', 'Thérèse Raquin', 'Allegiance', 'King Charles Iii',
       'On Your Feet!', 'A View From The Bridge 2015', 'China Doll',
       'Misery', 'Lord Of The Dance: Dangerous Games', 'School Of Rock',
       'The Color Purple 2015', 'Fiddler On The Roof 2015',
       'The Illusionists - Live On Broadway', 'Noises Off 2016',
       "Our Mother'S Brief Affair", 'The Humans', 'Blackbird',
       'Disaster!', 'Hughie 2016', 'She Loves Me 2016', 'Bright Star',
       'Eclipsed', 'The Crucible 2016', 'Shuffle Along',
       'American Psycho', 'The Father 2016', 'Waitress',
       'Fully Committed', "Long Day'S Journey Into Night 2016",
       'Tuck Everlasting', 'Paramour', 'An Act Of God 2016', 'Cats 2016',
       'Motown The Musical 2016'], dtype=object)

3. ¿Cuántas obras diferentes se presentaron?

In [6]:
print(f"Se presentaron un total de {unique_shows.size} obras diferentes")

Se presentaron un total de 820 obras diferentes

4. Genera un DataFrame solo con las obras de Mary Poppins

In [7]:
mary_poppins = df[df['Show_Name']=='Mary Poppins']
mary_poppins.sample(7)

,Date_Day,Date_Full,Date_Month,Date_Year,Show_Name,Show_Theatre,Show_Type,Statistics_Attendance,Statistics_Capacity,Statistics_Gross,Statistics_Gross Potential,Statistics_Performances
22802,13,3/13/2011,3,2011,Mary Poppins,New Amsterdam,Musical,11849,82,845677,61,8
16856,22,4/22/2007,4,2007,Mary Poppins,New Amsterdam,Musical,13801,96,1147284,87,8
20346,12,7/12/2009,7,2009,Mary Poppins,New Amsterdam,Musical,11721,82,851092,62,8
21763,27,6/27/2010,6,2010,Mary Poppins,New Amsterdam,Musical,13861,96,1061258,77,8
21188,21,2/21/2010,2,2010,Mary Poppins,New Amsterdam,Musical,12131,84,933852,68,8
18950,10,8/10/2008,8,2008,Mary Poppins,New Amsterdam,Musical,13704,95,995632,83,8
19389,23,11/23/2008,11,2008,Mary Poppins,New Amsterdam,Musical,9774,68,562280,47,8

5. ¿En cuantos teatros se ha pressentado Mary Poppins en Broadway?

In [8]:
print(f"Mary Poppins se ha presentado en {mary_poppins['Show_Theatre'].unique().size} teatro(s)")

Mary Poppins se ha presentado en 1 teatro(s)

6. ¿Qué obras se han presentado en más de un teatro?

In [9]:
d = {}
for item in unique_shows:
    d[item] = df[df['Show_Name']==item]['Show_Theatre'].unique().size
obras_dif_teatros = [i for i in d.keys() if d[i]>1]
print("Las obras que se han presentado en diferentes teatros han sido:")
obras_dif_teatros

Las obras que se han presentado en diferentes teatros han sido:

['Beauty And The Beast',
 'Defending The Caveman',
 'Chicago',
 "Forever Tango '97",
 '1776',
 'The Scarlet Pimpernel',
 'The Lion King',
 'A View From The Bridge',
 'Cabaret 98',
 'Side Man',
 'Peter Pan 98',
 'Night Must Fall',
 "It Ain'T Nothin' But The Blues",
 'Waiting In The Wings',
 'Mamma Mia!',
 'Man Of La Mancha 02',
 'Brooklyn',
 "Glengarry Glen Ross '05",
 'Jersey Boys',
 'August: Osage County',
 'The 39 Steps',
 'Rock Of Ages',
 'Time Stands Still',
 'Rain: A Tribute To The Beatles On Broadway',
 'Venus In Fur',
 "It'S Only A Play",
 'The Humans']

### Para la obra de Mary Poppins

- Por cada semana, calcular el valor promedio del boleto

In [10]:
"""
INGORAR!
Es un camino que no tomé pero me gustó el método

from datetime import datetime

date_full = mary_poppins.loc[:, 'Date_Full']
weeks = date_full.apply(lambda x: str(datetime_strptime(x, '%m/%d/%Y').isocalendar().week))
mary_poppins.loc[:, 'Week'] = weeks
"""
mary_poppins.loc[:, 'Statistics_Price'] = mary_poppins['Statistics_Gross'] / mary_poppins['Statistics_Attendance']
mary_poppins.sample(7)

C:\Users\Eduardo\AppData\Local\Temp\ipykernel_13300\3769329530.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  mary_poppins.loc[:, 'Statistics_Price'] = mary_poppins['Statistics_Gross'] / mary_poppins['Statistics_Attendance']

,Date_Day,Date_Full,Date_Month,Date_Year,Show_Name,Show_Theatre,Show_Type,Statistics_Attendance,Statistics_Capacity,Statistics_Gross,Statistics_Gross Potential,Statistics_Performances,Statistics_Price
17733,25,11/25/2007,11,2007,Mary Poppins,New Amsterdam,Musical,14511,101,1356262,113,8,93.464406
25207,30,9/30/2012,9,2012,Mary Poppins,New Amsterdam,Musical,9422,66,639620,55,8,67.885799
21963,22,8/22/2010,8,2010,Mary Poppins,New Amsterdam,Musical,12781,89,1052470,76,8,82.346452
24046,1,1/1/2012,1,2012,Mary Poppins,New Amsterdam,Musical,14273,99,1577884,100,8,110.550270
18381,13,4/13/2008,4,2008,Mary Poppins,New Amsterdam,Musical,13298,93,903235,76,8,67.922620
19876,29,3/29/2009,3,2009,Mary Poppins,New Amsterdam,Musical,12536,87,742823,62,8,59.255185
20370,19,7/19/2009,7,2009,Mary Poppins,New Amsterdam,Musical,12006,84,881503,64,8,73.421872

### Por cada teatro

- Calcular la capacidad máxima del teatro

In [11]:
unique_theatres = df['Show_Theatre'].unique()
d = {}
for teatro in unique_theatres:
    filtered = df[df['Show_Theatre']==teatro]
    d[teatro] = filtered['Statistics_Attendance'].max()
d

{'Booth': 6467,
 'Broadway': 15710,
 'Ethel Barrymore': 9477,
 'Palace': 15237,
 'Belasco': 8587,
 'Gershwin': 17352,
 'Minskoff': 15307,
 'Circle In The Square': 6155,
 'Virginia': 10548,
 'Criterion': 4491,
 'Vivian Beaumont': 8713,
 'Winter Garden': 13604,
 'Plymouth': 8640,
 'Richard Rodgers': 12053,
 'Golden': 7144,
 'Broadhurst': 11060,
 'Imperial': 12778,
 'Walter Kerr': 7602,
 'St. James': 20425,
 'Ambassador': 9866,
 'Martin Beck': 21631,
 'Marquis': 18683,
 'Lunt-Fontanne': 13531,
 'Neil Simon': 15149,
 'Lyceum': 7460,
 'Helen Hayes': 5155,
 "Eugene O'Neill": 10082,
 'Shubert': 13220,
 'Brooks Atkinson': 9716,
 'Nederlander': 11084,
 'Music Box': 8065,
 'Majestic': 14701,
 'Cort': 8780,
 'Royale': 8706,
 'Longacre': 8575,
 'New Amsterdam': 16319,
 'Ford Center (Livent)': 15921,
 'Kit Kat Klub': 4096,
 "Studio 54 ('98)": 7337,
 'Ford Center (Tcn)': 14208,
 'American Airlines': 6592,
 'Ford Center': 16253,
 'Henry Miller': 5664,
 'Cadillac Winter Garden': 13742,
 'Al Hirschfeld': 12921,
 'Biltmore': 5078,
 'Studio 54': 9291,
 'Hilton Theatre': 21144,
 'Schoenfeld': 8713,
 'Jacobs': 9696,
 'August Wilson': 9902,
 'Friedman': 5846,
 'Henry Miller (Rndabt)': 8293,
 'Stephen Sondheim': 8849,
 'Foxwoods': 17375,
 'Lyric': 13731}

### Por todos los teatros

- ¿Cuál es el teatro con el nombre más largo?

In [18]:
longest = max(unique_theatres, key=lambda x: len(x))
print(f"El teatro con el nombre más largo es '{longest}'")

El teatro con el nombre más largo es 'Cadillac Winter Garden'

* ¿Cuál es la que tiene más palabras?

In [17]:
longest = max(unique_theatres, key=lambda x: len(x.split()))
print(f"El teatro con más palabras es '{longest}'")

El teatro con más palabras es 'Circle In The Square'